body {
	font-family: sans-serif;
	background-color: lightgray;
	color: black;
	font-size: 10px;
}

header {
	background-color: black;
	color: lightgray;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

li {
	list-style-type: none;
}

a {
	text-decoration: underline;
	color: lightgrey;
}

a:hover {
	color: white;
}

h1 {
	font-size: 7em;
	text-align: center;
}

h2 {
	font-size: 5em;
	text-align: center;
}

img {
	text-align: center;
	height: 300px;
}

p {
	text-align: center;
	font-size: 5em;
}

footer {
	height: 150px;
	width: 100%;
	background-color: black;
	color: lightgray;
	position: fixed;
   	left: 0;
	bottom: 0;
}

