body {
	font-family: sans-serif;
	background-color: lightgray;
	color: black;
	font-size: 10px;
}

header {
	background-color: black;
	color: lightgray;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

li {
	padding-left: 25px;
	list-style-type: none;
	font-size: 2em;
}

a {
	color: lightgrey;
}

a:hover {
	color: white;
	text-decoration: underline;
	transition-duration: .5s;
}

h1 {
	font-size: 7em;
	text-align: center;
	margin-bottom: 0;
}

h2 {
	font-size: 4em;
	text-align: center;
	margin-top: 0;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

p {
	text-align: center;
	font-size: 5em;
}

p:hover {
	color: orange;
	font-size: 6em;
	transition-duration: 1s;
}

footer {
	height: 40px;
	width: 100%;
	background-color: black;
	color: lightgray;
	position: fixed;
   	left: 0;
	bottom: 0;
}

